@inherits ViewportComponentBase
@page "/"

<div class="viewport-container zindex-bottom">
    <div>
        <p class="fs-large">
            Breakpoint: <span class="gray">@Viewport.Breakpoint</span>
        </p>
        <p>
            Resize the browser and see the breakpoint change
        </p>
    </div>
</div>

@if (!Viewport.IsRendered)
{
    <div class="viewport-container zindex-top bg-white">
    <div class="fs-large">
        <p class="gray">
            Loading ...
        </p>
    </div>
</div>
}